@charset "UTF-8";

*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



.div_relogio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: rgb(95, 94, 94);
    color: rgb(33, 218, 33);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
}