@charset "UTF-8";

.campoForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
}

.campoForm input{
    background-color: white;
    padding:5px;
    border-radius:5px;
    border: 1px solid black;
}

.campoForm button{
    background-color:gray;
    cursor:pointer;
    padding:5px;
    border-radius:5px;
}

.res{
    display: flex;
    width: 100%;
    border:3px solid black;
    padding:5px;
    border-radius:5px;
    flex-wrap: wrap;

}

.pessoa{
    border: 3px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    margin: 1px;
    display:flex;
    width: 125px;
}