@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    width: 100vw;
    height: 90px;
    text-align: center;

}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.552);
}

#conteudo{
    margin: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}

.div_cassino{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 120px;
    border: 3px solid black;
    border-radius: 8px;
    margin: 10px;
    color: white;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
}

#div1{
    color: red;
    

}

#div2{
    color: blue;
    

}

#div3{
    color: green;
   

}

#btn{
    width: 200px;
    height: 90px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

#rodadas{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 77, 77);
    width: 100px;
    height: 60px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.quantidade_rodadas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(254, 45, 45);
    width: 130px;
    height: 50px;
    border-radius: 5px;
    margin: 2px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    

    
}

.esconde{
    display: none;
}

#play{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
    color: white;
    width: 80px;
    height: 80px;
    border: 2px solid rgb(67, 57, 57);
    border-radius: 100%;
}

 #stop{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
    color: white;
    width: 80px;
    height: 80px;
    border: 2px solid rgb(67, 57, 57);
    border-radius: 100%;
 }

 







